<h1 class="text-center"> Claim List</h1>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th> Subject </th> 
            <th> Description </th>
            <th> State </th>
            <th> Type </th>
            <th> Creation Date </th>
            <th> Modification Date </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let claims of claims" >
            <td> {{claims.subjectClm}} </td>
            <td> {{claims.descriptionClm}} </td>
            <td> {{claims.stateClm}} </td>
            <td> {{claims.typeClm}} </td>
            <td> {{claims.creationDateClm}} </td>
            <td> {{claims.modificationDateClm}} </td>
            <td>
                <div class="text-center">
                <button class="btn btn-info" (click)= "updateClaim(claims.idClm)">Update</button>               
                </div>
            </td>
        </tr>
    </tbody>
</table> 
