<div class="card card-danger">
    <div class="card-header">
      <h3 class="card-title">Most Responded questions</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 10px"></th>
            <th></th>
            <th style="text-align: center;">Responses</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dis of discussions">
            <td></td>
            <td> <a [routerLink]="['/discussion', dis.idDsc]">{{ dis.nameDsc }}</a> </td>
            <td>
              <div style="text-align: center;">
                {{ dis.nbrMessageDsc }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>