<div class="card card-danger">
    <div class="card-header">
      <h3 class="card-title">Most responded questions</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 10px"></th>
            <th></th>
            <th style="text-align: center;">Responses</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>Update software</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>