<h1 class="text-center"> Alert List</h1>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th> Alert </th> 
            <th> Kind </th>
            <th> Target </th>
            <th> PhoneNumber </th>
            <th> Email </th>
            <th> RegionAlert </th>
            <th> CoutryAlert </th>
            <th> UniversiteAlrt </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let alerts of alerts" >
            <td> {{alerts.alrtName}} </td>
            <td> {{alerts.alrtKind}} </td>
            <td> {{alerts.alrtTarget}} </td>
            
            <td> {{alerts.alrtPhoneNumber}} </td>
            
            <td> {{alerts.alrtEmail}} </td>
       
            <td> {{alerts.regionAlert}} </td>
            <td> {{alerts.coutryAlert}} </td>
            <td> {{alerts.universiteAlrt}} </td>
            <td>
                <div class="text-center">
                <button class="btn btn-danger" (click)= "deleteAlert(alerts.idAlrt)">Delete</button>               
                </div>
            </td>
        </tr>
    </tbody>
</table> 
