
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Alerts Page</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>

    <!-- <div class="inner-banner-shape">
        <div class="shape-one"><img src="assets/img/inner-banner/banner-shape1.png" alt="Images"></div>
        <div class="shape-two"><img src="assets/img/inner-banner/banner-shape2.png" alt="Images"></div>
        <div class="shape-three"><img src="assets/img/inner-banner/banner-shape3.png" alt="Images"></div>
        <div class="inner-banner-dots"><img src="assets/img/shape/dots-shape.png" alt="Images"></div>
    </div> -->
</div>
<div class="container">
    <div class="col">
        <button type="button" class="btn btn-link">
            <a routerLink="newalert" routerLinkActive="active" >Add Alert</a>
        </button>
        <app-alert-list></app-alert-list>
    </div>
</div>
<div class="terms-conditions-area pt-50 pb-70">
    <div class="container">
    </div>
</div>
