<section id="hero" class="hero d-flex align-items-center">
</section>
<!-- <p>forum-content works!</p> -->
<div class="mt-3">
    <div class="row me-2">
        <div class="col-md-8 ms-2">
            <app-forum-table></app-forum-table>
        </div>
        <div class="col-md">
            <app-forum-add-question></app-forum-add-question>
            
            

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <app-forum-stats></app-forum-stats>
                  </div>
                  <div class="carousel-item">
                    <app-forum-stats-responds></app-forum-stats-responds>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
