

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-start">

    <a href="index.html" class="logo d-flex align-items-center">

      <h1>Esprit Mobility</h1>

    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="about.html">Offers</a></li>
        <li><a href="services.html">Forum</a></li>
        <li><a [routerLink]="['/alerts']">Alerts</a></li>
        <li class="dropdown"><a href="#"><span>Accomodations</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a routerLink='/owner/accomodationOffers'>Offers</a></li>

          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <input class="form-control ms-5 me-2" type="search" placeholder="Search country">
      </ul>
    </nav>

  </div>
</header>



